body{
    margin: 0;
    background-color: hsl(212, 45%, 89%);
    overflow: hidden;
}
.attribution {
    font-size: 11px;
    text-align: center;
    margin-top: 1.8%;
    
  }

  .attribution a {
    color: hsl(228, 45%, 44%);
  }
  div{
      text-align: center;
  }
  #qrcode{
      height: 80%;
      width: 80%;
      
  }
